In [1]:
분기 = "2020/12(E) (IFRS연결)"
분기.split('(')[0]

'2020/12'

In [2]:
str=['Life', 'is', 'too', 'short']
' '.join(str)

'Life is too short'

In [4]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = []
for i in a:
    if i not in b:
        b.append(i)

In [5]:
b

[1, 2, 3, 4, 5]

In [6]:
set(a)

{1, 2, 3, 4, 5}

In [11]:
i = 1
while i <= 1000:
    if i%21 == 0:
        print(i)
    i+=1

21
42
63
84
105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798
819
840
861
882
903
924
945
966
987

In [24]:
lst1=[4,54,6,74,104]
lst2=[]
for i in lst1:
    i+=6
    lst2.append(i)
print(i)

110

In [19]:
sum=0
for i in range(1,101):
    sum+=1
print(i)

100

In [18]:
sum

100

In [23]:
lst1=[4,54,6,74,104]
lst2=[]
for i in lst1:
    if i **2 > 50:
        lst2.append(i)
print(lst2)

[54, 74, 104]

In [26]:
#set 데이터의 중복 제거
w = set("deep learning")

In [32]:
'x' not in w

True

In [35]:
s=set([1,2,2,3,3,3])

In [39]:
s

{1, 2, 3}

In [38]:
list(s)

[1, 2, 3]

In [40]:
s2=set([2,4,6])
s2

{2, 4, 6}

In [41]:
s & s2 #교집합

{2}

In [42]:
s.intersection(s2) #intersection 교집합

{2}

In [43]:
s.union(s2) #union 합집합

{1, 2, 3, 4, 6}

In [44]:
s.difference(s2) #difference 차집합

{1, 3}

In [45]:
s.add(10)

In [46]:
s

{1, 2, 3, 10}

In [47]:
s.add(0) #자동 정렬

In [48]:
s

{0, 1, 2, 3, 10}

In [49]:
s.update([3,4,5]) #여러개의 데이터 추가

In [50]:
s

{0, 1, 2, 3, 4, 5, 10}

In [51]:
s.remove(3)

In [52]:
s

{0, 1, 2, 4, 5, 10}

In [53]:
s2

{2, 4, 6}

In [55]:
s == s2

False

In [56]:
s2 == {2, 4, 6}

True

In [57]:
s2 != {2, 4, 6} #not equal

False

In [58]:
len(s2)

3

In [59]:
s2.pop() #임의의 데이터 제거

2

In [60]:
s2.discard(6) #특정 데이터 제거

In [61]:
s2

{4}

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(5):
    print(i, end = '') #안보이지만 역슬래시 걸려있으므로 지워주는 것

01234

In [66]:
for i in [1,2,3,4]: #sequence 구조 : list, range, tuple, string
    print(i, end = '')

1234

In [68]:
for i in "deeplearning":
    print(i, end = '')

deeplearning

In [69]:
# 대상 in sequence 객체
3 in [1,2,3]

True

In [72]:
'h' in "hello"

True

In [73]:
3 in range(1,5)

True

In [76]:
#sequence 객체 * 숫자는 숫자만큼 반복
[1,2,3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [77]:
"반갑습니다" * 3

'반갑습니다반갑습니다반갑습니다'

In [78]:
#if 조건식 : 데이터를 다듬는 데이터 전처리 과정에서 사용

In [80]:
acc=95
if acc>90 :
    print("pass")
else:
    print("fail")

pass

In [85]:
acc=101
if acc>90 and acc<=100:
    print("pass")
else:
    print("fail")

fail

In [87]:
acc=90
if acc>=90 :
    pass
else:
    print("fail")

In [93]:
acc=90
if acc>90 :
    print("pass")
    print("king zzang")
print("next stage") #if문에 종속되지 않은 문장이라 if문 조건 충족하지 못해도 출력

next stage

In [94]:
acc=95
acc>90

True

In [96]:
if True or False:
    print("pass")

pass

In [98]:
if (1>0) and (0<5) :
    print("pass")

pass

In [99]:
if (1>0):
    if(0<5):
        print("pass")

pass

In [102]:
x=0
if x:
    print("odd")
else:
    print("even")

even

In [108]:
x = 0.00000000000000
if x:
    print("1입니다")

In [109]:
x=1

In [112]:
x=2
a=x if x==1 else 0 #x가 1이면 a에 x를 저장하고 1이 아니라면 0
a

0

In [113]:
if "breaktime":
    print("True")

True

In [115]:
if "": #문자열을 참 빈 문자열은 거짓으로 본다
    print("True")

In [116]:
if []:
    print("empty")

In [117]:
if [1,2]:
    print("empty")

empty

In [118]:
if None: #None도 거짓
    print("msg")

In [120]:
if list():
    print("empty")
else:
    print("not empty")

not empty

In [121]:
#if 0 < x and x < 10:
#if 0 < x < 10:

In [122]:
if ():
    pass
else:
    print("else")

else

In [124]:
if not ():
    pass
else:
    print("else")

In [125]:
x=1
if x==0:
    print("0")
elif x==-1:
    print("-1")
elif x==1:
    print("1")
else:
    print("999")

1

In [137]:
for i in range(1,5):
    print(i, end='')
for i in range(1,5,3):
    print(i)
for i in range(5,1,-1):
    print(i)

12341
4
5
4
3
2

In [138]:
for c in ["hello","hi"]:
    print(c)

hello
hi

In [145]:
for c in reversed("hello"):
    print(c)

o
l
l
e
h

In [142]:
list(reversed("hello"))

['o', 'l', 'l', 'e', 'h']

In [146]:
#while 조건식:
    문장

IndentationError: unexpected indent (3881166403.py, line 2)

In [148]:
i=1
while i <=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [149]:
i=1
while True:
    print(i)
    i+=1
    if i == 10:
        break

1
2
3
4
5
6
7
8
9

In [150]:
i=1
while True:
    i+=1
    if i == 10:
        break
    print(i)

2
3
4
5
6
7
8
9

In [151]:
i=1
while True:
    i+=1
    if i < 5:
        continue #continue 나오면 밑으로 이동 안하고 위로 올라감
    elif i < 10:
        print(i)
    else:
        break

5
6
7
8
9

In [152]:
#for while 둘 다 반복문이다 while 출구 필요 반복 횟수 정해져 있지 않음 for 반복 횟수가 정해져 있을 때

In [153]:
#random 모듈

In [154]:
모듈 : 파일
패키지 : 폴더
라이브러리 : 자주 사용되는 기능을 함수 단위로 만들어 제공
플랫폼 : 프로그램을 할 수 있는 토대, 기반 환경
클래스 : 붕어빵 기계 // 도면
객체 : 붕어빵(실체, 인스턴스) // 건물
메서드(함수) : 객체가 수용하는 동작 (사냥한다, 이동한다, 먹는다 등)
속성 : 객체를 평가하는 척도 (아이디, 나이, 레벨, 파워 등)
오버라이딩 : 붕어빵 기계로부터 잉어빵 기계를 제작(비용 시간 절감)

SyntaxError: invalid syntax (2551765205.py, line 3)

In [159]:
import inspect,random

In [160]:
print(inspect.getfile(random))

C:\Users\user\anaconda3\Lib\random.py

In [161]:
random.random()

0.422767374830488

In [168]:
random.randint(1, 45)

39

In [172]:
i=0
while i != 3 :
    print(random.randint(1, 5))
    i=i+1

3
3
4

In [173]:
s=[1,2,3]
r=[]
for i in s:
    r.append(i*2)
print(r)

[2, 4, 6]

In [176]:
r2=[i*2 for i in s]
print(r2)

[2, 4, 6]

In [179]:
r3=[i+2 for i in s if i % 2 == 1]
#     <--- 1 --->
#                <--- 2 --->
# <-3->
print(r3)

[3, 5]

In [180]:
[x for x in range(2,10)]

[2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
for x in range(2,10) :
    for y in range(1,10) :
        print(x*y, end=' ') 
    print() #\n 이 숨겨져 있어 줄바꿈
    print("="*50)

2 4 6 8 10 12 14 16 18
==================================================
3 6 9 12 15 18 21 24 27
==================================================
4 8 12 16 20 24 28 32 36
==================================================
5 10 15 20 25 30 35 40 45
==================================================
6 12 18 24 30 36 42 48 54
==================================================
7 14 21 28 35 42 49 56 63
==================================================
8 16 24 32 40 48 56 64 72
==================================================
9 18 27 36 45 54 63 72 81
==================================================

In [189]:
print([x*y for x in range(2,10) for y in range(1,10)])
#          <------- 1 ------->
#                              <------- 2 ------->
#     <-3->
#                              <------- 4 ------->
#     <-5->

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [190]:
#구구단에서 3단 5단만 출력

In [191]:
print([x*y for x in range(3,6,2) for y in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [192]:
print([x*y for x in range(2,10) if x == 3 for y in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [194]:
print([x*y for x in range(2,10) if x == 3 or x == 5 for y in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [195]:
print([x*y for x in range(2,10) if x is 3 for y in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\user\AppData\Local\Temp\ipykernel_4060\4286434470.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([x*y for x in range(2,10) if x is 3 for y in range(1,10)])

In [199]:
#x가 y보다 클 때만 연산
print([x*y for x in range(2,10) if x > y for y in range(1,10)]) #x에 값을 주고 if문을 실행할 때 y값을 알 수 없다는 에러

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [200]:
print([x*y for x in range(2,10) for y in range(1,10) if x > y])

[2, 3, 6, 4, 8, 12, 5, 10, 15, 20, 6, 12, 18, 24, 30, 7, 14, 21, 28, 35, 42, 8, 16, 24, 32, 40, 48, 56, 9, 18, 27, 36, 45, 54, 63, 72]