# 10월 25일 수요일 연습문제

- 가장 많이 방문한 시간 10개 출력 (연 월 일 시까지 기준)
- 가정 적게 방문한 시간 10개 출력 (연 월 일 시까지 기준)
- 가장 많이 구매한 상품 10개 출력
- 가장 적게 구매한 상품 10개 출력
- 어떤 요일에 구매가 가장 많았는가?
- 어떤 월에 구매가 가장 많이 있었는가?
- 연도별 구매횟수 비교

In [45]:
df=pd.read_csv("ex_data.csv", parse_dates=['Date'])
df

C:\Users\user\AppData\Local\Temp\ipykernel_11524\3572696704.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df=pd.read_csv("ex_data.csv", parse_dates=['Date'])

       Member_number       Date        itemDescription
0               1808 2015-07-21         tropical fruit
1               2552 2015-05-01             whole milk
2               2300 2015-09-19              pip fruit
3               1187 2015-12-12       other vegetables
4               3037 2015-01-02             whole milk
...              ...        ...                    ...
38760           4471 2014-08-10          sliced cheese
38761           2022 2014-02-23                  candy
38762           1097 2014-04-16               cake bar
38763           1510 2014-03-12  fruit/vegetable juice
38764           1521 2014-12-26               cat food

[38765 rows x 3 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  datetime64[ns]
 2   itemDescription  38765 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 908.7+ KB

In [47]:
df['year']=df.Date.dt.year
df['month']=df.Date.dt.month
df['day']=df.Date.dt.day
df['day_of_week']=df.Date.dt.day_name()

In [48]:
df

,Member_number,Date,itemDescription,year,month,day,day_of_week
0,1808,2015-07-21,tropical fruit,2015,7,21,Tuesday
1,2552,2015-05-01,whole milk,2015,5,1,Friday
2,2300,2015-09-19,pip fruit,2015,9,19,Saturday
3,1187,2015-12-12,other vegetables,2015,12,12,Saturday
4,3037,2015-01-02,whole milk,2015,1,2,Friday
...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,Sunday
38761,2022,2014-02-23,candy,2014,2,23,Sunday
38762,1097,2014-04-16,cake bar,2014,4,16,Wednesday
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,Wednesday
38764,1521,2014-12-26,cat food,2014,12,26,Friday

In [58]:
df.groupby('Date')['Member_number'].nunique().sort_values(ascending=False).head(10)

Date
2014-08-28    39
2014-10-27    36
2014-05-11    35
2014-05-30    35
2015-01-21    34
2014-04-13    34
2014-03-04    34
2014-07-07    33
2015-08-21    32
2014-09-21    32
Name: Member_number, dtype: int64

In [62]:
df.groupby('Date')['Member_number'].nunique().sort_values(ascending=True).head(10)

Date
2015-01-09     7
2015-03-16     9
2015-03-06    10
2014-04-07    10
2015-02-02    11
2015-03-17    11
2015-10-20    11
2015-12-21    11
2015-10-30    11
2015-05-11    11
Name: Member_number, dtype: int64

In [65]:
df.itemDescription.value_counts().head(10)

whole milk          2502
other vegetables    1898
rolls/buns          1716
soda                1514
yogurt              1334
root vegetables     1071
tropical fruit      1032
bottled water        933
sausage              924
citrus fruit         812
Name: itemDescription, dtype: int64

In [66]:
df.itemDescription.value_counts(ascending=True).head(10)

preservation products    1
kitchen utensil          1
baby cosmetics           3
bags                     4
make up remover          5
toilet cleaner           5
frozen chicken           5
rubbing alcohol          5
salad dressing           6
whisky                   8
Name: itemDescription, dtype: int64

In [73]:
df.groupby('day_of_week')['itemDescription'].nunique().sort_values(ascending=False)

day_of_week
Friday       163
Monday       163
Wednesday    161
Thursday     160
Saturday     158
Sunday       158
Tuesday      157
Name: itemDescription, dtype: int64

In [74]:
df.groupby('month')['itemDescription'].nunique().sort_values(ascending=False)

month
4     158
8     155
1     154
12    153
6     152
10    151
11    151
3     150
5     150
7     150
9     148
2     146
Name: itemDescription, dtype: int64

In [75]:
df.groupby('year')['itemDescription'].nunique().sort_values(ascending=False)

year
2014    167
2015    164
Name: itemDescription, dtype: int64