In [95]:
'''
케라스(딥러닝 프레임웍)을 이용한 점수 예측

입력 특징 : 공부시간, 출석일수, 과제제출횟수

츨력 : 시험점수

프레임웍 : framework 작업을 쉽게 수행할 수 있게 하는 라이브러리의 집합체

종류 : 텐서플로우(케라스가 합쳐짐(탠서플로우 사용하기 쉽게)), 파이토치, 까페 ...

ReLu = max(0, wx+b) wx+b와 0을 비교하여 큰 값 출력 ex) wx+b=5일 땐 5 출력, wx+b가 -5일 땐 0 출력

중간 활성함수에서 sigmoid 함수 잘 안씀 ReLu 많이 씀

vanisihing gradient problem (기울기 소실 문제)

입력계층 네트워크 히든계층 네트워크 히든계층 출력계층

네트워크들의 가중치는 랜덤하게 배정

트레이닝 하는 이유 : 가중치 조정해서 최적의 가중치를 찾아내는 과정

예측값 실제값 차이의 제곱합 cost 함수(loss 함수) 값이 가장 적게 나오는 시점을 찾는 것


'''

'\n케라스(딥러닝 프레임웍)을 이용한 점수 예측\n\n입력 특징 : 공부시간, 출석일수, 과제제출횟수\n\n츨력 : 시험점수\n\n프레임웍 : framework 작업을 쉽게 수행할 수 있게 하는 라이브러리의 집합체\n\n종류 : 텐서플로우(케라스가 합쳐짐(탠서플로우 사용하기 쉽게)), 파이토치, 까페 ...\n\nReLu = max(0, wx+b) wx+b와 0을 비교하여 큰 값 출력 ex) wx+b=5일 땐 5 출력, wx+b가 -5일 땐 0 출력\n\n중간 활성함수에서 sigmoid 함수 잘 안씀 ReLu 많이 씀\n\nvanisihing gradient problem (기울기 소실 문제)\n\n입력계층 네트워크 히든계층 네트워크 히든계층 출력계층\n\n네트워크들의 가중치는 랜덤하게 배정\n\n트레이닝 하는 이유 : 가중치 조정해서 최적의 가중치를 찾아내는 과정\n\n예측값 실제값 차이의 제곱합 cost 함수(loss 함수) 값이 가장 적게 나오는 시점을 찾는 것\n\n\n'

In [96]:
from tensorflow import keras
from tensorflow.keras import layers

In [97]:
model=keras.Sequential([layers.Dense(units=1, input_shape=[3])]) #입력차원 Input_shape 3, 출력차원 units 1, 모델 만듬

In [98]:
model = keras.Sequential([
    layers.Dense(units=4, input_shape=[2], activation='relu'),
    layers.Dense(units=3, activation='relu'),
    layers.Dense(units=1, activation='sigmoid'),
])

In [99]:
model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_23 (Dense)            (None, 4)                 12

 dense_24 (Dense)            (None, 3)                 15

 dense_25 (Dense)            (None, 1)                 4

=================================================================
Total params: 31 (124.00 Byte)
Trainable params: 31 (124.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [100]:
#param 12 -> 2*4+4b, 15 -> 4*3+3b, 4 -> 3*1+b

In [101]:
model.compile(optimizer='adam', loss='mae') #모를 때는 아담 사용

In [102]:
import pandas as pd

In [103]:
red_wine = pd.read_csv('red-wine.csv')

In [104]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [105]:
df_train = red_wine.sample(frac=0.7, random_state=20231031)

In [106]:
len(df_train)

1119

In [107]:
df_train.index

Int64Index([1385, 1504, 1269, 1457,  671,  404, 1327, 1226,  803, 1563,
            ...
            1301,  120,  199,   40, 1052, 1043, 1130,  363,  386, 1008],
           dtype='int64', length=1119)

In [108]:
df_test = red_wine.drop(df_train.index)

In [109]:
len(df_test)

480

In [110]:
df_train[:2]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,8.0,0.81,0.25,3.4,0.076,34.0,85.0,0.99668,3.19,0.42,9.2,5
1504,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4,6

In [111]:
#히든 계층에 노드 갯수 지정해 줄때 일반적으로 2의 n제곱승

In [112]:
#표준화 minmaxscaler
max_=df_train.max()
min_=df_train.min()

In [113]:
max_-min_

fixed acidity            11.00000
volatile acidity          1.21000
citric acid               1.00000
residual sugar           14.60000
chlorides                 0.59900
free sulfur dioxide      71.00000
total sulfur dioxide    283.00000
density                   0.01362
pH                        1.27000
sulphates                 1.67000
alcohol                   5.60000
quality                   5.00000
dtype: float64

In [114]:
df_train = (df_train-min_) / (max_-min_)
df_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,0.309091,0.570248,0.25,0.171233,0.106845,0.464789,0.279152,0.485316,0.354331,0.053892,0.142857,0.4
1504,0.263636,0.214876,0.57,0.095890,0.156928,0.056338,0.021201,0.439060,0.488189,0.131737,0.535714,0.6
1269,0.081818,0.305785,0.03,0.061644,0.053422,0.380282,0.286219,0.053598,0.598425,0.293413,1.000000,1.0
1457,0.272727,0.305785,0.33,0.068493,0.103506,0.366197,0.279152,0.513216,0.527559,0.149701,0.107143,0.4
671,0.327273,0.504132,0.21,0.054795,0.103506,0.056338,0.024735,0.494126,0.362205,0.113772,0.196429,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1043,0.445455,0.223140,0.41,0.547945,0.095159,0.239437,0.116608,0.625551,0.433071,0.287425,0.446429,0.8
1130,0.409091,0.396694,0.00,0.068493,0.076795,0.056338,0.014134,0.560206,0.346457,0.179641,0.357143,0.6
363,0.718182,0.280992,0.63,0.075342,0.098497,0.070423,0.031802,0.640969,0.196850,0.323353,0.321429,0.4
386,0.290909,0.347107,0.26,0.075342,0.126878,0.309859,0.148410,0.589574,0.527559,0.245509,0.142857,0.6
1008,0.390909,0.190083,0.40,0.184932,0.163606,0.154930,0.063604,0.397944,0.385827,0.221557,0.642857,0.8

In [115]:
df_test = (df_test-min_) / (max_-min_)
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,0.290909,0.628099,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.250000,0.4
9,0.263636,0.314050,0.36,0.356164,0.098497,0.225352,0.339223,0.567548,0.480315,0.281437,0.375000,0.4
10,0.190909,0.380165,0.08,0.061644,0.141903,0.197183,0.208481,0.428047,0.425197,0.125749,0.142857,0.4
16,0.354545,0.132231,0.56,0.061644,0.133556,0.478873,0.342756,0.501468,0.440945,0.251497,0.375000,0.8
17,0.318182,0.363636,0.28,0.054795,0.594324,0.211268,0.176678,0.494126,0.291339,0.568862,0.160714,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
1581,0.145455,0.363636,0.09,0.054795,0.068447,0.323944,0.091873,0.290015,0.629921,0.161677,0.517857,0.4
1582,0.136364,0.491736,0.10,0.116438,0.068447,0.169014,0.074205,0.260646,0.653543,0.101796,0.625000,0.4
1587,0.109091,0.404959,0.11,0.061644,0.090150,0.239437,0.077739,0.349486,0.637795,0.197605,0.446429,0.6
1588,0.236364,0.446281,0.33,0.109589,0.093489,0.464789,0.339223,0.298825,0.417323,0.269461,0.785714,0.6
1591,0.072727,0.512397,0.09,0.054795,0.128548,0.211268,0.070671,0.290015,0.732283,0.137725,0.571429,0.6

In [116]:
df_train=df_train.drop('quality', axis=1)
df_test=df_test.drop('quality', axis=1)

In [117]:
y_train =red_wine['quality'][df_train.index]
y_test =red_wine['quality'].drop(df_train.index)

In [118]:
from sklearn.preprocessing import OneHotEncoder

In [119]:
ohe=OneHotEncoder()

In [120]:
y_test_ohe=ohe.fit_transform([y_test])

In [121]:
y_test_ohe

<1x480 sparse matrix of type '<class 'numpy.float64'>'
	with 480 stored elements in Compressed Sparse Row format>

In [123]:
pd.get_dummies(red_wine['quality'])

      3  4  5  6  7  8
0     0  0  1  0  0  0
1     0  0  1  0  0  0
2     0  0  1  0  0  0
3     0  0  0  1  0  0
4     0  0  1  0  0  0
...  .. .. .. .. .. ..
1594  0  0  1  0  0  0
1595  0  0  0  1  0  0
1596  0  0  0  1  0  0
1597  0  0  1  0  0  0
1598  0  0  0  1  0  0

[1599 rows x 6 columns]

In [ ]:
y_test

In [ ]:
y_train

In [ ]:
#품질 : 0~10 까지 부여
#범주형 : 원핫인코딩

In [ ]:
model=keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[11]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(6, activation='softmax')
    #layers.Dense(1)    
])

In [ ]:
model.compile(
    optimizer='adam',
    loss='mae',
)

In [ ]:
1119/32

In [ ]:
model.fit( #batch_size=32
df_train, y_train, epochs=10
)

In [ ]:
model.predict(df_test)

In [ ]:
y_test

In [126]:
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
#outcome이 0, 1 이므로 sigmoid 함수 사용하면 됨

In [130]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [128]:
x=df.iloc[:,0:8]
y=df.iloc[:,8]

In [131]:
model=Sequential()

In [132]:
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [133]:
model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 12)                108

 dense_27 (Dense)            (None, 8)                 104

 dense_28 (Dense)            (None, 1)                 9

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [135]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) #이진 loss

In [140]:
len(x)

768

In [141]:
768/5

153.6

In [137]:
model.fit(x, y, epochs=10, batch_size=5)

Epoch 1/10
154/154 [==============================] - 1s 1ms/step - loss: 1.3861 - accuracy: 0.5547
Epoch 2/10
154/154 [==============================] - 0s 972us/step - loss: 0.6772 - accuracy: 0.6458
Epoch 3/10
154/154 [==============================] - 0s 958us/step - loss: 0.6621 - accuracy: 0.6497
Epoch 4/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6539 - accuracy: 0.6523
Epoch 5/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6514 - accuracy: 0.6510
Epoch 6/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6460 - accuracy: 0.6510
Epoch 7/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6425 - accuracy: 0.6523
Epoch 8/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6409 - accuracy: 0.6523
Epoch 9/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6399 - accuracy: 0.6523
Epoch 10/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6393 - accuracy: 0.6523

In [144]:
df = pd.read_csv('iris3.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#결과값 3개 다중분류 소프트맥스 함수 사용해야함

In [145]:
X = df.iloc[:,0:4]
y = df.iloc[:,4]

In [ ]:
#y 범주형이라 원핫인코딩 무조건

In [146]:
y = pd.get_dummies(y)

In [148]:
y

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [149]:
model = Sequential()

In [150]:
model.add(Dense(16,  input_dim=4, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [152]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy']) #다중 분류 loss

In [153]:
model.fit(X, y, epochs=40, batch_size=5)

Epoch 1/40
30/30 [==============================] - 0s 1ms/step - loss: 1.1101 - accuracy: 0.3000
Epoch 2/40
30/30 [==============================] - 0s 1ms/step - loss: 1.0611 - accuracy: 0.2667
Epoch 3/40
30/30 [==============================] - 0s 1ms/step - loss: 1.0314 - accuracy: 0.3133
Epoch 4/40
30/30 [==============================] - 0s 1ms/step - loss: 0.9858 - accuracy: 0.3133
Epoch 5/40
30/30 [==============================] - 0s 1ms/step - loss: 0.9344 - accuracy: 0.3733
Epoch 6/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8767 - accuracy: 0.5467
Epoch 7/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8146 - accuracy: 0.6333
Epoch 8/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7513 - accuracy: 0.6000
Epoch 9/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6942 - accuracy: 0.6667
Epoch 10/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6438 - accuracy: 0.6667
Epoch 11/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6026 - accuracy: 0.6667
Epoch 12/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5696 - accuracy: 0.6667
Epoch 13/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5451 - accuracy: 0.6667
Epoch 14/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.6667
Epoch 15/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5114 - accuracy: 0.6667
Epoch 16/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4994 - accuracy: 0.6667
Epoch 17/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4902 - accuracy: 0.6667
Epoch 18/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4809 - accuracy: 0.6733
Epoch 19/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4759 - accuracy: 0.6667
Epoch 20/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4666 - accuracy: 0.6733
Epoch 21/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4591 - accuracy: 0.6867
Epoch 22/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4564 - accuracy: 0.7800
Epoch 23/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4508 - accuracy: 0.8200
Epoch 24/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4398 - accuracy: 0.7133
Epoch 25/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4296 - accuracy: 0.7667
Epoch 26/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4248 - accuracy: 0.8733
Epoch 27/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4156 - accuracy: 0.8867
Epoch 28/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4090 - accuracy: 0.7933
Epoch 29/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3958 - accuracy: 0.9600
Epoch 30/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3865 - accuracy: 0.9467
Epoch 31/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3738 - accuracy: 0.9000
Epoch 32/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3627 - accuracy: 0.9667
Epoch 33/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.9600
Epoch 34/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.9667
Epoch 35/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3267 - accuracy: 0.9667
Epoch 36/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3161 - accuracy: 0.9667
Epoch 37/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3014 - accuracy: 0.9600
Epoch 38/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2919 - accuracy: 0.9533
Epoch 39/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2770 - accuracy: 0.9600
Epoch 40/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2663 - accuracy: 0.9667

In [ ]:
5.9	3.0	5.1	1.8

In [155]:
import numpy as np

In [157]:
model.predict(np.array([[5.9, 3.0, 5.1, 1.8]]))

1/1 [==============================] - 0s 44ms/step

array([[0.00142555, 0.44669068, 0.55188376]], dtype=float32)

In [158]:
np.argmax([0.00142555, 0.44669068, 0.55188376])

2